html, body {
  background-color: rgb(0, 0, 0);
}

.logo {
  display: inline;
  position: absolute;
  width: 20%;
  z-index: 100;
  background-color: rgb(0, 0, 0);
  padding-top: 0.8vw;
  padding-bottom: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;
  border-radius: 2vw;
  outline:solid 0.2vw greenyellow;
}

.slogan {
}

.scrolling-image {
  position: absolute;
  z-index: 0;
  background: url("RainforestImage.png") repeat;
  display:block;
  width:100vw;
  height:100vh;
  margin: 0;
  padding: 0;
  animation: bgScroll 40s infinite ease-in-out;
}

.scrolling-image::before{
  display: block;
  position: relative;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0, #000000 100%);
  margin-top: -1vw;
  height: 6vw;
  content: '';
}

.scrolling-image::after{
  display: block;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #000000 100%);
  margin-top: 39vw;
  height: 6vw;
  content: '';
}



@keyframes bgScroll {
  0% {
    background-position : 0px 0px;
  }
  100% {
    background-position : 0px 2160px;
  }
}